version: "3.7"

services:
  sales-api:
    build:
      context: ./sales/api
      dockerfile: Dockerfile
    environment:
      FLASK_ENV: development
    volumes:
    - "./sales/api:/code"
    ports:
    - 8080:5000

  sales-db:
    build:
      context: ./sales/postgres
      dockerfile: Dockerfile
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
    volumes:
    - sales-data:/var/lib/postgresql/data

volumes:
  sales-data:
